
<div layout="row">
  <div flex="10" id="sidebar-container">
    <!-- SIDENAV  -->
    <md-sidenav md-is-locked-open="true" class="md-sidenav-left" layout="column" md-whiteframe="3" layout-fill >
    <!-- Here should be a little thingy in the top left corner -->
    <md-toolbar>
      <h1>Topleft</h1>
    </md-toolbar>
    <!-- But it's not implemented yet -->


    <!-- MENU ITEMS -->
    <md-list class="menu">
      <md-list-item>
          <md-button flex ui-sref="dashboard">
            <div class="md-tile-content">
              <md-icon md-svg-src="bower_components/material-design-icons/ic_home_black_24px.svg" class="md-48"></md-icon>
            </div>
            <div class="menu-content md-tile-content">
              Dashboard
            </div>
          </md-button>
      </md-list-item>

      <md-list-item>
          <md-button flex ui-sref="clients">
            <div class="md-tile-content">
              <md-icon md-svg-src="bower_components/material-design-icons/ic_people_black_24px.svg" class="md-48"></md-icon>
            </div>
            <div class="menu-content md-tile-content">
              Clients
            </div>
          </md-button>
      </md-list-item>


      <md-list-item>
        <md-button flex ui-sref="shop">
          <div class="md-tile-content">
            <md-icon md-svg-src="bower_components/material-design-icons/ic_shopping_cart_black_24px.svg" class="md-48"></md-icon>
          </div>
          <div class="menu-content md-tile-content">
            Shop
          </div>
        </md-button>
      </md-list-item>

      <md-list-item>
        <md-button flex ui-sref="classes">
          <div class="md-tile-content">
            <md-icon md-svg-src="bower_components/material-design-icons/ic_featured_play_list_black_24px.svg" class="md-48"></md-icon>
          </div>
          <div class="menu-content md-tile-content">
            Classes
          </div>
        </md-button>
      </md-list-item>

      <md-list-item>
        <md-button flex ui-sref="chat">
          <div class="md-tile-content">
            <md-icon md-svg-src="bower_components/material-design-icons/ic_sms_black_24px.svg" class="md-48"></md-icon>
          </div>
          <div class="menu-content md-tile-content">
            CHAT
          </div>
        </md-button>
      </md-list-item>

    </md-list>


    </md-sidenav>
  </div>

  <div flex="90" id="main-content-container">



    <!-- TOP TOOLBAR -->
    <md-toolbar flex layout="row" layout-align="end center" md-whiteframe="3">
        <md-button ng-click="logout()" ui-sref="login">
          <div class="md-tile-content">
            <md-icon md-svg-src="bower_components/material-design-icons/ic_cancel_black_24px.svg" flex></md-icon>
          </div>
          <div class="md-tile-content">
            Log out
          </div>
        </md-button>

    </md-toolbar>
    <!-- MAIN CONTENT PANE -->

    <md-content flex class="md-padding page-content">
      <div ui-view>
      <!-- PARTIALS ARE INJECTED HERE   -->
      </div>
    </md-content>

  </div>


</div>
