<div layout="row" layout-fill id="dashboard-box">
<body>
  <!-- SIDENAV  -->
  <md-sidenav class="md-sidenav-left" layout="column" md-whiteframe="3" layout-fill id="sidebar-container" md-component-id="left">
  <!-- Here should be a little thingy in the top left corner -->
    <md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeft()">
		<md-icon md-svg-src="bower_components/material-design-icons/menu.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-content flex>
    <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" layout="column">
        <md-list>
            <md-list-item>

                <md-item-content md-ink-ripple>
                    <div class="inset">Item 1</div>
                </md-item-content>

            </md-list-item>
        </md-list>
    </md-sidenav>


  <!-- But it's not implemented yet -->


    <!-- MENU ITEMS -->
    <md-list class="menu">
      <md-list-item>
          <md-button flex ui-sref="dashboard">
            <div class="md-tile-content">
              <md-icon md-svg-src="bower_components/material-design-icons/ic_home_black_24px.svg" class="md-48"></md-icon>
            </div>
            <div class="menu-content md-tile-content">
              Dashboard
            </div>s
          </md-button>
      </md-list-item>

      <md-list-item>
          <md-button flex ui-sref="members">
            <div class="md-tile-content">
              <md-icon md-svg-src="bower_components/material-design-icons/ic_people_black_24px.svg" class="md-48"></md-icon>
            </div>
            <div class="menu-content md-tile-content">
              Members
            </div>
          </md-button>
      </md-list-item>


      <md-list-item>
        <md-button flex ui-sref="shop">
          <div class="md-tile-content">
            <md-icon md-svg-src="bower_components/material-design-icons/ic_shopping_cart_black_24px.svg" class="md-48"></md-icon>
          </div>
          <div class="menu-content md-tile-content">
            Shop
          </div>
        </md-button>
      </md-list-item>

      <md-list-item>
        <md-button flex ui-sref="classes">
          <div class="md-tile-content">
            <md-icon md-svg-src="bower_components/material-design-icons/ic_featured_play_list_black_24px.svg" class="md-48"></md-icon>
          </div>
          <div class="menu-content md-tile-content">
            Classes
          </div>
        </md-button>
      </md-list-item>

      <md-list-item>
        <md-button flex ui-sref="chat">
          <div class="md-tile-content">
            <md-icon md-svg-src="bower_components/material-design-icons/ic_sms_black_24px.svg" class="md-48"></md-icon>
          </div>
          <div class="menu-content md-tile-content">
            CHAT
          </div>
        </md-button>
      </md-list-item>

    </md-list>
  </md-sidenav>

  <!-- TOP TOOLBAR AND CONTENT -->

  <div layout="column" flex id="top-toolbar">
    <md-toolbar layout="row" layout-align="end center" md-whiteframe="3">
      <md-button ng-click="logout()" ui-sref="login">
        <div class="md-tile-content">
          <md-icon md-svg-src="bower_components/material-design-icons/ic_cancel_black_24px.svg" flex></md-icon>
        </div>
        <div class="md-tile-content">
          Log out
        </div>
      </md-button>
    </md-toolbar>

    <md-content flex class="md-padding page-content" id="content-container">
      <div ui-view></div>
    </md-content>
  </div>
  </body>
</div>
