<div id="login-screen" layout="row" layout-fill>
  <section layout="column" layout-align="center center" flex class="login">

    <md-card md-whiteframe="4" class="login-form">
      <md-toolbar>
        <div layout="column" layout-padding layout-align="center center">
          <div flex>
            <md-icon md-font-icon="bower_components/material-design-icons/ic_home_black_24dp_2x.png">Login</md-icon>
          </div>
        </div>
      </md-toolbar>

      <md-card-content>
        <form ng-submit="login(user)">
          <md-input-container class="md-block">
            <label for="email">Email</label>
            <input type="email" name="email" ng-model="user.email" required />
          </md-input-container>

          <md-input-container class="md-block">
            <label for="password">Password</label>
            <input type="password" name="password" ng-model="user.password" required />
          </md-input-container>

          <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" type="submit">Log in</md-button>
          </div>

        </form>
      </md-card-content>


    </md-card>

  </section>
</div>

<!-- TODO: Add error message to the form itself -->
<!-- TODO: Add spinner while user is logging in (firebase is sometimes slow) -->

<div ui-view class="login-screen">

</div>
