<md-dialog aria-label="Add member">
  <md-dialog-content>
    <!-- NAME | LASTNAME -->
    <form ng-submit="addMember(member)">
      <div layout="row">
        <md-input-container>
          <label>First name</label>
          <input type="text" ng-model="member.firstName" required />
        </md-input-container>

        <md-input-container>
          <label>Last name</label>
          <input type="text" ng-model="member.lastName" required />
        </md-input-container>
      </div>

      <div class="md-tile-content">
        <md-button class="md-raised md-primary" type="submit" layout-align="center center" ng-click="modalResponse()">Submit</md-button>
      </div>

    </form>

  </md-dialog-content>
</md-dialog>
