/*ANIMATION SETUP*/

/*.login-screen.ng-leave { z-index:9999; }
.login-screen.ng-enter { z-index:8888; }

.login-screen.ng-enter, .login-screen.ng-leave {
  position: relative;
}*/
[ui-view] {
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}

.login-form {
  top: 0px; left: 0; bottom: 75px; right: 0;
}

/*APPLYING ANIMATIONS*/

/*
#masterUI.ng-leave #login-screen {
    -webkit-animation:slideUp 0.6s both ease;
    -moz-animation:slideUp 0.6s both ease;
    animation:slideUp 0.6s both ease;
}

#masterUI.ng-enter #login-screen {
    -webkit-animation:slideDown 0.6s both ease;
    -moz-animation:slideDown 0.6s both ease;
    animation:slideDown 0.6s both ease;
}

#masterUI.ng-leave #dashboard-box {
  -webkit-animation:slideUp 0.6s both ease;
  -moz-animation:slideUp 0.6s both ease;
  animation:slideUp 0.6s both ease;
}

#masterUI.ng-enter #dashboard-box {
  -webkit-animation:slideDown 0.6s both ease;
  -moz-animation:slideDown 0.6s both ease;
  animation:slideDown 0.6s both ease;
}*/

[ui-view].ng-leave #login-screen {
  animation: fadeOutDown 1s;
  -webkit-animation: fadeOutDown 1s;
  -moz-animation: fadeOutDown 1s;
  opacity: 0;
}

[ui-view].ng-enter #login-screen {
  animation: fadeInUp 1s;
  -webkit-animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s;
  opacity: 1;
}

[ui-view].ng-leave #dashboard-box {
  animation: fadeOutUp 1s;
  -webkit-animation: fadeOutUp 1s;
  -moz-animation: fadeOutUp 1s;
  opacity: 0;
}

[ui-view].ng-enter #dashboard-box {
  animation: fadeInDown 1s;
  -webkit-animation: fadeInDown 1s;
  -moz-animation: fadeInDown 1s;
  opacity: 0;
}

/*[ui-view].ng-enter #sidebar-container {
  animation: fadeInLeft: 0.6s;
}

[ui-view].ng-leave #sidebar-container {
  animation: fadeOutLeft: 0.6s;
}*/



/*[ui-view].ng-enter #top-toolbar {
  animation: fadeInDown 0.6s;
}
[ui-view].ng-leave #top-toolbar {
  animation: fadeOutUp 0.6s;
}*/
