/*ANIMATION SETUP*/

[ui-view] {
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}

.login-form {
  top: 0px; left: 0; bottom: 75px; right: 0;
}

/* ============================== APPLYING =========================== */

 /*LOGIN SCREEN DIV*/
[ui-view].ng-leave #login-screen {
  animation: fadeOutDown 1s;
  -webkit-animation: fadeOutDown 1s;
  -moz-animation: fadeOutDown 1s;
  opacity: 1;
}

[ui-view].ng-leave-active #login-screen {
  animation: fadeOutDown 1s;
  -webkit-animation: fadeOutDown 1s;
  -moz-animation: fadeOutDown 1s;
  opacity: 0;
}


[ui-view].ng-enter #login-screen {
  animation: fadeInUp 1s;
  -webkit-animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s;
  opacity: 0;
}

[ui-view].ng-enter-active #login-screen {
  animation: fadeInUp 1s;
  -webkit-animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s;
  opacity: 1;
}

 /*DASHBOARD CONSISTS OF TWO PARTS*/

 [ui-view].ng-leave #dashboard-box {
   animation: fadeOutUp  1s;
   -webkit-animation: fadeOutUp  1s;
   -moz-animation: fadeOutUp  1s;
   opacity: 1;
 }

 [ui-view].ng-leave-active #dashboard-box {
   animation: fadeOutUp  1s;
   -webkit-animation: fadeOutUp 1s;
   -moz-animation: fadeOutUp 1s;
   opacity: 0;
 }

 [ui-view].ng-enter #dashboard-box {
   animation: fadeInDown 1s;
   -webkit-animation: fadeInDown 1s;
   -moz-animation: fadeInDown 1s;
   opacity: 0;
 }

 [ui-view].ng-enter-active #dashboard-box {
   animation: fadeInDown 1s;
   -webkit-animation: fadeInDown 1s;
   -moz-animation: fadeInDown 1s;
   opacity: 1;
 }


  /*SIDEBAR-CONTAINER*/
