html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#login-screen {
  position: absolute;
  height: 100%;
  width: 100%;
}
.login md-card {
  width: 300px;
}

.content-container {
  background-color: #000;
}



/*CLIENT SEARCH BAR*/

/*#member-search-container label {
  font-size: 20;
}

#member-search-input {
  height: 60px;
}*/


 /*CONFIGURATION OF TOASTS*/
 /*from this link: http://codepen.io/Splaktar/pen/MKpeWM*/

md-toast.md-success-toast-theme span {
    color: #4CAF50;
}

md-toast.md-error-toast-theme span {
    color: #F44336;
}
